Repository openclarity/openclarity, pull requests merged in 2024-09, with the labels that each got.

#814 fix(plugin): full scan run with plugins enabled
  e2e/config/config.go
  e2e/full_scan_test.go
  plugins/runner/internal/runtimehandler/docker/handler.go
Labels: bug, go, test

#830 feat(helm): add option for all supported databases
  installation/kubernetes/helm/openclarity/Chart.lock
  installation/kubernetes/helm/openclarity/Chart.yaml
  installation/kubernetes/helm/openclarity/README.md
  installation/kubernetes/helm/openclarity/templates/apiserver/deployment.yaml
  installation/kubernetes/helm/openclarity/templates/apiserver/pvc.yaml
  installation/kubernetes/helm/openclarity/values.yaml
Labels: kubernetes

#777 feat(containerruntimediscovery): add CRI-O support
  .github/workflows/reusable-end-to-end-testing.yml
  .github/workflows/reusable-verification.yml
  containerruntimediscovery/server/Dockerfile
  containerruntimediscovery/server/containerd/discoverer.go
  containerruntimediscovery/server/crio/discoverer.go
  containerruntimediscovery/server/discoverer.go
  containerruntimediscovery/server/docker/discoverer.go
  containerruntimediscovery/server/go.mod
  containerruntimediscovery/server/go.sum
  containerruntimediscovery/server/server.go
  containerruntimediscovery/types/discoverer.go
  installation/kubernetes/helm/openclarity/templates/cr-discovery-server/daemonset.yaml
  installation/kubernetes/helm/openclarity/values.yaml
Labels: enhancement

#815 feat(ui): custom queries on the frontend
  ui/src/api/constants.ts
  ui/src/components/DetailsPageWrapper/index.jsx
  ui/src/components/WizardModal/index.jsx
  ui/src/layout/AssetScans/AssetScanDetails.jsx
  ui/src/layout/Assets/AssetDetails.jsx
  ui/src/layout/Dashboard/FindingsImpactWidget/index.jsx
  ui/src/layout/Dashboard/FindingsTabsWidget/index.jsx
  ui/src/layout/Dashboard/RiskiestAssetsWidget/index.jsx
  ui/src/layout/Findings/FindingsDetailsPage.jsx
  ui/src/layout/Scans/Configurations/ConfigurationActionsDisplay/index.jsx
  ui/src/layout/Scans/Configurations/ConfigurationDetails/index.jsx
  ui/src/layout/Scans/ScanConfigWizardModal/index.jsx
  ui/src/layout/Scans/Scans/ScanActionsDisplay/index.jsx
  ui/src/layout/Scans/Scans/ScanDetails.jsx
  ui/src/layout/Scans/Scans/ScansTable.jsx
Labels: javascript

#850 fix(ci): PR size labeler
  .github/workflows/pr.yml
Labels: github_actions, kind/bug

#838 refactor(e2e): improve
  Makefile
  e2e/config/config.go
  e2e/config/config_test.go
  e2e/full_scan_test.go
  e2e/kics_test.go
  testenv/azure/asset.go
Labels: kind/test

#852 refactor(e2e): improve GCP e2e test env
  Makefile
  e2e/config/config.go
  e2e/config/config_test.go
  testenv/config.go
Labels: size/S, kind/test

#851 test(e2e): assert presence of more finding types
  e2e/full_scan_test.go
  testenv/docker/asset/docker-compose.override.yml
  testenv/kubernetes/asset/deployment.go
Labels: size/S, kind/test

#833 release(general): prepare version v1.0.0
  api/client/go.mod
  api/server/go.mod
  api/types/go.mod
  cli/go.mod
  containerruntimediscovery/client/go.mod
  containerruntimediscovery/server/go.mod
  containerruntimediscovery/types/go.mod
  e2e/go.mod
  installation/go.mod
  orchestrator/go.mod
  plugins/runner/go.mod
  plugins/sdk-go/example/go.mod
  plugins/store/kics/go.mod
  provider/go.mod
  scanner/go.mod
  testenv/go.mod
  uibackend/client/go.mod
  uibackend/server/go.mod
  utils/go.mod
  versions.yaml
Labels: size/M
