Repository openclarity/openclarity, pull requests merged in 2025-01, with the labels that each got.

#959 feat(containerruntimediscovery): add configurable socket
  containerruntimediscovery/server/containerd/discoverer.go
  installation/kubernetes/helm/openclarity/README.md
  installation/kubernetes/helm/openclarity/templates/cr-discovery-server/daemonset.yaml
  installation/kubernetes/helm/openclarity/values.yaml
Labels: enhancement, size/S, area/containerruntimediscovery, area/provider/k8s

#976 ci(ci): setup go in dependencies workflow
  .github/workflows/dependencies.yml
Labels: dependencies, size/XS, ci

#978 release(general): prepare release v1.1.2
  api/client/go.mod
  api/server/go.mod
  api/types/go.mod
  cli/go.mod
  containerruntimediscovery/client/go.mod
  containerruntimediscovery/server/go.mod
  containerruntimediscovery/types/go.mod
  e2e/go.mod
  installation/go.mod
  orchestrator/go.mod
  plugins/runner/go.mod
  plugins/sdk-go/example/go.mod
  plugins/store/kics/go.mod
  provider/go.mod
  scanner/go.mod
  testenv/go.mod
  uibackend/client/go.mod
  uibackend/server/go.mod
  utils/go.mod
  versions.yaml
Labels: size/M

#980 fix(containerruntimediscovery): env var assignment in CR discovery daemonset
  installation/kubernetes/helm/openclarity/README.md
  installation/kubernetes/helm/openclarity/templates/cr-discovery-server/daemonset.yaml
  installation/kubernetes/helm/openclarity/values.yaml
Labels: size/S
